@model IEnumerable<BertoniMiniproyecto.Models.Photo>

@{
    ViewData["Title"] = "Fotos";
}

<h1>Fotos</h1>

<p>
    <a asp-action="Index">Volver a Mis Álbumes</a>
</p>

<table id="photos" class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                URL
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ThumbnailUrl)*@
                Imagen
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id). @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <img src="@item.ThumbnailUrl" />
                </td>
                <td>
                    <a href="#commentContainer" class="btn btn-info" onclick="loadComments(@item.Id)">
                        Ver Comentarios
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3>Comentarios</h3>

<hr />

<div id="commentContainer" style="min-height:500px">
    <h4 id="selectedImage" class="text-center">
        Presione el botón 'Ver Comentarios' de una imagen para
        visualizar los respectivos comentarios en esta sección.
    </h4>
</div>


@section Styles {
    <link rel="stylesheet" type="text/css" href="~/lib/dataTables/dataTables.bootstrap4.min.js" />
}

@section Scripts {
    <script src="~/js/axios.min.js"></script>
    <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        $('#photos').DataTable();

        const commentContainer = document.getElementById("commentContainer");

        function loadComments(id) {
            axios.get(`@Url.Action("Comments", "Home")/${id}`).then(response => {
                commentContainer.innerHTML = "";
                response.data.forEach(c => {
                    commentContainer.innerHTML += newCommentNode(c);
                });
            });
        }

        function newCommentNode(comment) {
            return `<div class="card mb-3">
                        <div class="card-header bg-info text-light">
                            <span>${comment.Name}</span> <span>(${comment.Email})</span>
                        </div>
                        <div class="card-body">
                            <span>${comment.Email}</span>
                        </div>
                    </div>`;
        }

        function myfunction() {
            ""
        }

    </script>
}